[Desktop Entry]
Type=Service
X-KDE-PluginInfo-License=GPL
Icon=edit-copy

Name=Copy Image
Name[ca]=Copia la imatge
Name[ca@valencia]=Copia la imatge
Name[cs]=Kopírovat obrázek
Name[de]=Bild kopieren
Name[en_GB]=Copy Image
Name[es]=Copiar imagen
Name[eu]=Kopiatu irudia
Name[fi]=Kopioi kuva
Name[fr]=Copier une image
Name[it]=Copia immagine
Name[ko]=그림 복사
Name[nl]=Afbeelding kopiëren
Name[pa]=ਚਿੱਤਰ ਕਾਪੀ ਕਰੋ
Name[pl]=Skopiuj obraz
Name[pt]=Copiar a Imagem
Name[pt_BR]=Copiar imagem
Name[sl]=Kopiraj sliko
Name[sv]=Kopiera bild
Name[tr]=Görseli Kopyala
Name[uk]=Копіювання зображення
Name[x-test]=xxCopy Imagexx
Comment=Copy the scanned image to the clipboard
Comment[ca]=Copia la imatge escanejada al porta-retalls
Comment[ca@valencia]=Copia la imatge escanejada al porta-retalls
Comment[cs]=Zkopírovat skenované snímky do schránky
Comment[de]=Kopiert das eingescannte Bild in die Zwischenablage
Comment[en_GB]=Copy the scanned image to the clipboard
Comment[es]=Copiar la imagen escaneada en el portapapeles
Comment[eu]=Kopiatu eskaneatutako irudia arbelera
Comment[fi]=Kopioi luettu kuva leikepöydälle
Comment[fr]=Copier l'image numérisée dans le presse-papier
Comment[it]=Copia l'immagine scansionata negli appunti
Comment[ko]=스캔한 그림을 클립보드에 복사
Comment[nl]=De gescande afbeelding kopiëren naar het klembord
Comment[pa]=ਸਕੈਨ ਕੀਤੇ ਚਿੱਤਰ ਨੂੰ ਕਲਿੱਪਬੋਰਡ ਵਿੱਚ ਕਾਪੀ ਕਰੋ
Comment[pl]=Skopiuj zeskanowany obraz do schowka
Comment[pt]=Copiar a imagem digitalizada para a aplicação
Comment[pt_BR]=Copiar a imagem escaneada para a área de trabalho
Comment[sl]=Kopiraj prebrano sliko na odložišče
Comment[sv]=Kopierar den inlästa bilden till klippbordet
Comment[tr]=Taranan görseli panoya kopyala
Comment[uk]=Копіювати скановане зображення до буфера
Comment[x-test]=xxCopy the scanned image to the clipboardxx
