[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/DestinationPlugin
X-KDE-Library=kookadestinationclipboard
X-KDE-PluginInfo-Name=destinationclipboard
X-KDE-PluginInfo-License=GPL
Icon=edit-copy

Name=Copy Image
Name[ca]=Copia la imatge
Name[ca@valencia]=Copia la imatge
Name[de]=Bild kopieren
Name[es]=Copiar imagen
Name[fr]=Copier une image
Name[nl]=Afbeelding kopiëren
Name[pt]=Copiar a Imagem
Name[sl]=Kopiraj sliko
Name[sv]=Kopiera bild
Name[uk]=Копіювання зображення
Name[x-test]=xxCopy Imagexx
Comment=Copy the scanned image to the clipboard
Comment[ca]=Copia la imatge escanejada al porta-retalls
Comment[ca@valencia]=Copia la imatge escanejada al porta-retalls
Comment[es]=Copiar la imagen escaneada en el portapapeles
Comment[fr]=Copier l'image numérisée dans le presse-papier
Comment[nl]=De gescande afbeelding kopiëren naar het klembord
Comment[pt]=Copiar a imagem digitalizada para a aplicação
Comment[sl]=Kopiraj prebrano sliko na odložišče
Comment[sv]=Kopierar den inlästa bilden till klippbordet
Comment[uk]=Копіювати скановане зображення до буфера
Comment[x-test]=xxCopy the scanned image to the clipboardxx
