[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/DestinationPlugin
X-KDE-Library=kookadestinationclipboard
X-KDE-PluginInfo-Name=destinationclipboard
X-KDE-PluginInfo-License=GPL
Icon=edit-copy

Name=Copy Image
Name[x-test]=xxCopy Imagexx
Comment=Copy the scanned image to the clipboard
