[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/OcrPlugin
X-KDE-Library=kookaocrocrad
X-KDE-PluginInfo-Name=ocrad
X-KDE-PluginInfo-License=GPL
Icon=ocrad
Name=OCRAD
Name[ca]=OCRAD
Name[ca@valencia]=OCRAD
Name[de]=OCRAD
Name[es]=OCRAD
Name[fi]=OCRAD
Name[fr]=OCRAD
Name[gl]=OCRAD
Name[it]=OCRAD
Name[ko]=OCRAD
Name[nl]=OCRAD
Name[pl]=OCRAD
Name[pt]=OCRAD
Name[sv]=OCRAD
Name[uk]=OCRAD
Name[x-test]=xxOCRADxx
Name[zh_CN]=OCRAD
Name[zh_TW]=OCRAD
Comment=<emphasis>OCRAD</emphasis> is a free software OCR engine by Antonio&nbsp;Diaz, part of the GNU&nbsp;Project.<nl/><nl/>Images for OCR should be scanned in black/white (lineart) mode. Best results are achieved if the characters are at least 20&nbsp;pixels high. Problems may arise, as usual, with very bold or very light or broken characters, or with merged character groups.<nl/><nl/>See <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> for more information on OCRAD.
Comment[ca]=L'<emphasis>OCRAD</emphasis> és un motor d'OCR de programari lliure fet per l'Antonio&nbsp;Diaz, part del Projecte&nbsp;GNU. <nl/><nl/>Les imatges per a l'OCR s'han d'escanejar en mode blanc i negre (art lineal). S'aconsegueixen els millors resultats si els caràcters tenen com a mínim 20&nbsp;píxels d'alçada. Poden produir-se problemes, normalment, amb caràcters molt grossos o molt fins o trencats, o amb grups de caràcters barrejats.<nl/><nl/>Vegeu <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> per a més informació quant a l'OCRAD.
Comment[ca@valencia]=L'<emphasis>OCRAD</emphasis> és un motor d'OCR de programari lliure fet per l'Antonio&nbsp;Diaz, part del Projecte&nbsp;GNU. <nl/><nl/>Les imatges per a l'OCR s'han d'escanejar en mode blanc i negre (art lineal). S'aconsegueixen els millors resultats si els caràcters tenen com a mínim 20&nbsp;píxels d'alçària. Poden produir-se problemes, normalment, amb caràcters molt grossos o molt fins o trencats, o amb grups de caràcters barrejats.<nl/><nl/>Vegeu <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> per a més informació quant a l'OCRAD.
Comment[de]=<emphasis>OCRAD</emphasis> ist ein Texterkennungsmodul unter einer freien Softwarelizenz von Antonio&nbsp;Diaz, und Teil des GNU-&nbsp;Projekts.<nl/><nl/>Bilder für die Texterkennung sollten in Schwarz-Weiß als Strichzeichnung eingescannt werden. Die besten Ergebnisse werden mit mindestens 20&nbsp;Pixel großen Zeichen erzielt. Probleme können mit sehr fett oder blass gedruckten Zeichen, mit verstümmelten Zeichen oder mit zusammengefügten Zeichengruppen auftreten.<nl/><nl/>Weiter Informationen zu OCRAD finden Sie auf der Seite <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link>.
Comment[es]=<emphasis>OCRAD</emphasis> es un motor OCR de software libre creado por Antonio&nbsp;Díaz, que es parte del Proyecto&nbsp;GNU.<nl/><nl/>Las imágenes para OCR se deben escanear en modo de blanco y negro (arte de línea). Los mejores resultados se consiguen cuando los caracteres tienen al menos 20&nbsp;píxeles de altura. Como es natural, pueden surgir problemas con caracteres muy anchos, muy claros o incompletos, o con grupos de caracteres fusionados.<nl/><nl/>Consulte <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> para más información sobre OCRAD.
Comment[fr]=<emphasis>OCRAD</emphasis> est un logiciel gratuit avec moteur ROC par Antonio&nbsp;Diaz, il fait partie du Projet&nbsp;GNU.<nl/> <nl/>Les images pour ROC doivent être scannées en mode noir et blanc (lineart). De meilleurs résultats sont obtenus si la taille des caractères est d'au moins 20 pixels. Des problèmes peuvent cependant survenir avec des polices trop épaisses, trop fines, avec des caractères entrecoupés ou fusionnés.<nl/> <nl/> Consultez <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> pour de plus amples informations sur OCRAD. 
Comment[gl]=<emphasis>OCRAD</emphasis> é un motor libre de recoñecemento óptico de caracteres (OCR) obra de Antonio&nbsp;Diaz e parte do Proxecto GNU.<nl/> <nl/> As imaxes para o recoñecemento óptico de caracteres deberían dixitalizarse usando o modo en branco e negro (arte de liñas). Os mellores resultados obtéñense se a altura dos caracteres é polo menos 20&nbsp;píxeles. Pode haber problemas, como sempre, no caso de caracteres moi escuros, moi claros, rotos ou con grupos de caracteres mesturados.<nl/> <nl/> Consulte <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> para obter máis información sobre OCRAD.
Comment[it]=<emphasis>OCRAD</emphasis> è un motore OCR libero creato da Antonio&nbsp;Diaz, parte del Progetto&nbsp;GNU.<nl/><nl/>Le immagini per l'OCR devono essere scansionate in modalità bianco/nero (lineart). Si ottengono i migliori risultati se i caratteri sono alti almeno 20&nbsp;pixel. Possono sorgere problemi, in genere, con caratteri molto spessi o molto sottili o incompleti, o con gruppi di caratteri mischiati.<nl/><nl/>Visita il sito <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> per maggiori informazioni su OCRAD.
Comment[ko]=<emphasis>OCRAD</emphasis>는 GNU 프로젝트의 일부인 Antonio Diaz의 자유 소프트웨어 OCR 엔진입니다.<nl/><nl/>OCR용 영상은 흑백(라인아트) 모드로 스캔해야 합니다. 문자가 최소 20픽셀 이상일 경우 최상의 결과를 얻을 수 있습니다. 일반적으로 너무 굵거나, 너무 밝거나, 끊어진 문자 또는 병합된 문자 그룹에 문제가 발생할 수 있습니다.<nl/><nl/>OCRAD에 대한 자세한 정보는 <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> 페이지를 참조하십시오.
Comment[nl]=<emphasis>OCRAD</emphasis> is een vrije software OCR-engine door Antonio&nbsp;Diaz, onderdeel van het GNU&nbsp;Project.<nl/><nl/>Afbeeldingen voor OCR zouden gescand moeten zijn in zwart/wit (lineart) modus. De beste resultaten worden bereikt als de tekens minstens 20&nbsp;pixels hoog zijn.  Problemen volgen, zoals gewoonlijk, met erg vette of erg lichte of gebroken tekens of met gemengde tekengroepen.<nl/><nl/>Zie <link href="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> voor meer informatie over OCRAD.
Comment[pl]=<emphasis>OCRAD</emphasis> jest darmowym programowym silnikiem OCR napisanym przez Antonio&nbsp;Diaz, jako część projektu GNU&nbsp;. <nl/><nl/>Obrazy dla OCR powinny być skanowane w trybie czarno białym (rysunek kreskowy). Najlepsze wyniki są osiągane wtedy, gdy tekst jest wysoki na co najmniej 20&nbsp;pikseli.  Problemy mogą pojawić się, jak zwykle, z bardzo pogrubionym lub bardzo cienkim lub z uszkodzonymi znakami, lub ze scalonymi grupami znaków.<nl/><nl/>Zobacz <link url="http://www.gnu.org/software/ocrad/ocrad.html"> www.gnu.org/software/ocrad/ocrad.html</link> po więcej informacji o OCRAD.
Comment[pt]=O <emphasis>OCRAD</emphasis> é um motor de OCR em 'software' livre de Antonio&nbsp;Diaz, fazendo parte do Projecto&nbsp;GNU.<nl/><nl/>As imagens do OCR devem ser digitalizadas no modo a preto/branco (linear). É possível atingir resultados melhores se os caracteres tiverem pelo menos 20&nbsp;pixels de altura. Poderão surgir problemas, como é normal, com caracteres muito carregados, muito claros ou quebrados, ou ainda com grupos de caracteres reunidos.<nl/><nl/>Veja em <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> mais informações sobre o OCRAD.
Comment[sv]=<emphasis>OCRAD</emphasis> är ett fritt program för optisk teckentydning av Antonio&nbsp;Diaz, som ingår i GNU-projektet.<nl/><nl/>Bilder för optisk teckentydning bör läsas in i svartvitt läge (streckbildsläge). De bästa resultaten uppnås om tecknen är minst 20&nbsp;bildpunkter höga. Problem kan som vanligt uppstå med extrem fetstil, väldigt tunna eller brutna tecken, eller med sammanfogade teckengrupper.<nl/><nl/>Se <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> för mer information om OCRAD.
Comment[uk]=<emphasis>OCRAD</emphasis> — вільне програмне забезпечення для розпізнавання текстів, створене Antonio&nbsp;Diaz, є частиною проєкту GNU.<nl/><nl/>Зображення для розпізнавання має бути скановано у чорно-білому (штриховому) режимі. Найкращих результатів можна досягти, якщо висота символів перевищує 20 пікселів. Як завжди, проблеми можуть бути з дуже темними та дуже світлими зображеннями, пошкодженими символами або з групами символів, що перекриваються.<nl/><nl/>Докладніше про OCRAD можна дізнатися <link url="http://www.gnu.org/software/ocrad/ocrad.html">тут</link>.
Comment[x-test]=xx<emphasis>OCRAD</emphasis> is a free software OCR engine by Antonio&nbsp;Diaz, part of the GNU&nbsp;Project.<nl/><nl/>Images for OCR should be scanned in black/white (lineart) mode. Best results are achieved if the characters are at least 20&nbsp;pixels high. Problems may arise, as usual, with very bold or very light or broken characters, or with merged character groups.<nl/><nl/>See <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> for more information on OCRAD.xx
Comment[zh_TW]=<emphasis>OCRAD</emphasis> 是個自由的 OCR 引擎，由 Antonio&nbsp;Diaz 製作，為 GNU 專案中的一員。<nl/><nl/>用來 OCR 的影像必須以黑白 (lineart) 模式掃描。當字符至少有 20 個像素高的狀況下可以取得最佳結果。跟平常一樣，若字符過重、過輕、不完整或者是使用合在一起的字符組合，則可能會導致解析問題。<nl/><nl/>閱讀 <link url="http://www.gnu.org/software/ocrad/ocrad.html">www.gnu.org/software/ocrad/ocrad.html</link> 取得關於 OCRAD 的更多資訊。
