[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kooka/DestinationPlugin
X-KDE-Derived=KPluginInfo
Name=Kooka Scan Destination Plugin
Name[ca]=Connector de destinació d'escaneig del Kooka
Name[ca@valencia]=Connector de destinació d'escaneig del Kooka
Name[en_GB]=Kooka Scan Destination Plugin
Name[es]=Complemento de destino de escaneo de Kooka
Name[fi]=Kooka-kuvanluvun kohdeliitännäinen
Name[fr]=Module externe de de destination après numérisation de Kooka
Name[it]=Estensione Destinazione scansione di Kooka
Name[nl]=Plug-in voor Kooka scanbestemming
Name[pa]=ਕੋਕਾ ਸਕੈਨ ਟਿਕਾਣਾ ਪਲੱਗਇਨ
Name[pl]=Wtyczka miejsca docelowego skanu Kooka
Name[pt]='Plugin' de Destino de Digitalização do Kooka
Name[sl]=Vtičnik za cilj optičnega branja Kooka
Name[sv]=Kooka insticksprogram för bildmål
Name[uk]=Додаток призначення сканованого у Kooka
Name[x-test]=xxKooka Scan Destination Pluginxx
