[Desktop Entry]
Type=Application
Exec=kooka %U
Icon=kooka
Terminal=false
X-DocPath=kooka/index.html
GenericName=Scan & OCR Program
GenericName[bg]=Програма за сканиране и разпонаване на текст
GenericName[bs]=Sken i OCR Program
GenericName[ca]=Programa d'escaneig i OCR
GenericName[ca@valencia]=Programa d'escaneig i OCR
GenericName[cs]=Program pro skenování a OCR
GenericName[de]=Scan- & OCR-Programm
GenericName[el]=Πρόγραμμα σάρωσης και OCR
GenericName[en_GB]=Scan & OCR Program
GenericName[eo]=Skanad- kaj OCR-Programo
GenericName[es]=Programa de escáner y OCR
GenericName[et]=Skannimis- ja OMT rakendus
GenericName[eu]=Eskaneatze eta OCR programa
GenericName[fi]=Kuvanluku- ja tekstintunnistusohjelma
GenericName[fr]=Programme de numérisation et de reconnaissance optique de caractères
GenericName[ga]=Ríomhchlár Scanta agus OCR
GenericName[gl]=Programa de dixitalización e OCR
GenericName[hi]=स्कैन व ऑप्टिकल कैरेक्टर रिकॉग्नीशन प्रोग्राम (OCR)
GenericName[hne]=स्कैन अउ आप्टिकल कैरेक्टर रिकाग्नीसन प्रोग्राम (OCR)
GenericName[hu]=Szkennelő és OCR-program
GenericName[it]=Programma di scansione e di riconoscimento ottico dei caratteri (OCR)
GenericName[ka]=სკანირება და OCR პროგრამა
GenericName[km]=ស្កេន និង​កម្មវិធី OCR
GenericName[ko]=스캔 및 OCR 프로그램
GenericName[mr]=स्कॅन व ऑप्टिकल कैरेक्टर रिकॉग्नीशन (OCR) कार्यक्रम
GenericName[nds]=Inlees- un OTR-Programm
GenericName[nl]=Scan- en OCR-programma
GenericName[nn]=Program for skanning og OCR
GenericName[pa]=ਸਕੈਨ ਅਤੇ OCR ਪਰੋਗਰਾਮ
GenericName[pl]=Program skanowania i OCR-u
GenericName[pt]=Programa de Digitalização & OCR
GenericName[pt_BR]=Programa de digitalização e OCR
GenericName[ro]=Program de scanare și OCR
GenericName[sk]=Program na skenovanie a OCR
GenericName[sl]=Program za optično branje in optično prepoznavo znakov
GenericName[sv]=Bildläsare och optisk teckentydning
GenericName[tr]=Tarama ve OCR Programı
GenericName[uk]=Програма для сканування і розпізнавання
GenericName[zh_TW]=掃描及 OCR 程式
Name=Kooka
Name[bg]=Kooka
Name[bs]=Kooka
Name[ca]=Kooka
Name[ca@valencia]=Kooka
Name[cs]=Kooka
Name[de]=Kooka
Name[el]=Kooka
Name[en_GB]=Kooka
Name[eo]=Kooka
Name[es]=Kooka
Name[et]=Kooka
Name[eu]=Kooka
Name[fi]=Kooka
Name[fr]=Kooka
Name[ga]=Kooka
Name[gl]=Kooka
Name[hi]=कूका
Name[hne]=कूका
Name[hu]=Kooka
Name[ia]=Kooka
Name[it]=Kooka
Name[ka]=Kooka
Name[km]=Kooka
Name[ko]=Kooka
Name[mr]=कूका
Name[nds]=Kooka
Name[nl]=Kooka
Name[nn]=Kooka
Name[pa]=ਕੋਕਾ
Name[pl]=Kooka
Name[pt]=Kooka
Name[pt_BR]=Kooka
Name[ro]=Kooka
Name[ru]=Kooka
Name[sk]=Kooka
Name[sl]=Kooka
Name[sv]=Kooka
Name[tr]=Kooka
Name[uk]=Kooka
Name[zh_CN]=Kooka
Name[zh_TW]=Kooka

Categories=Qt;KDE;Graphics;Scanning;
X-DBUS-ServiceName=org.kde.kooka
