[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/DestinationPlugin
X-KDE-Library=kookadestinationsave
X-KDE-PluginInfo-Name=destinationsave
X-KDE-PluginInfo-License=GPL
Icon=document-save

Name=Save Image
Name[ca]=Desa la imatge
Name[ca@valencia]=Guarda la image
Name[cs]=Uložit obrázek
Name[de]=Bild speichern
Name[en_GB]=Save Image
Name[es]=Guardar imagen
Name[eu]=Gorde irudia
Name[fi]=Tallenna kuva
Name[fr]=Enregistrer une image
Name[it]=Salva immagine
Name[ko]=그림 저장
Name[nl]=Afbeelding opslaan
Name[pa]=ਚਿੱਤਰ ਨੂੰ ਸੰਭਾਲੋ
Name[pl]=Zapisz obraz
Name[pt]=Gravar a Imagem
Name[sl]=Shrani sliko
Name[sv]=Spara bild
Name[tr]=Görseli Kaydet
Name[uk]=Збереження зображення
Name[x-test]=xxSave Imagexx
Comment=Save the scanned image
Comment[ca]=Desa la imatge escanejada
Comment[ca@valencia]=Guarda la image escanejada
Comment[de]=Speichert das eingescannte Bild
Comment[en_GB]=Save the scanned image
Comment[es]=Guardar la imagen escaneada
Comment[eu]=Gorde eskaneatutako irudia
Comment[fi]=Tallenna luettu kuva
Comment[fr]=Enregistrer l'image numérisée
Comment[it]=Salva l'immagine scansionata
Comment[ko]=스캔한 그림 저장
Comment[nl]=De gescande afbeelding opslaan
Comment[pa]=ਸਕੈਨ ਕੀਤੇ ਚਿੱਤਰ ਨੂੰ ਸੰਭਾਲੋ
Comment[pl]=Zapisz zeskanowany obraz
Comment[pt]=Gravar a imagem digitalizada
Comment[sl]=Shrani optično prebrano sliko
Comment[sv]=Spara den inlästa bilden
Comment[tr]=Taranan Görseli Kaydet
Comment[uk]=Зберегти скановане зображення
Comment[x-test]=xxSave the scanned imagexx
