[Desktop Entry]
Type=Service
X-KDE-PluginInfo-License=GPL
Icon=document-save

Name=Save Image
Name[ca]=Desa la imatge
Name[ca@valencia]=Guarda la imatge
Name[cs]=Uložit obrázek
Name[de]=Bild speichern
Name[el]=Αποθήκευση εικόνας
Name[en_GB]=Save Image
Name[eo]=Konservi Bildon
Name[es]=Guardar imagen
Name[eu]=Gorde irudia
Name[fi]=Tallenna kuva
Name[fr]=Enregistrer une image
Name[gl]=Gardar a imaxe
Name[ia]=Salveguarda imagine
Name[it]=Salva immagine
Name[ka]=გამოსახულების შენახვა
Name[ko]=그림 저장
Name[nl]=Afbeelding opslaan
Name[pa]=ਚਿੱਤਰ ਨੂੰ ਸੰਭਾਲੋ
Name[pl]=Zapisz obraz
Name[pt]=Gravar a Imagem
Name[pt_BR]=Salvar imagem
Name[sl]=Shrani sliko
Name[sv]=Spara bild
Name[tr]=Görseli Kaydet
Name[uk]=Збереження зображення
Name[x-test]=xxSave Imagexx
Name[zh_TW]=儲存圖片
Comment=Save the scanned image
Comment[ca]=Desa la imatge escanejada
Comment[ca@valencia]=Guarda la imatge escanejada
Comment[de]=Speichert das eingescannte Bild
Comment[el]=Αποθηκεύστε τη σαρωμένη εικόνα
Comment[en_GB]=Save the scanned image
Comment[eo]=Konservi la skanitan bildon
Comment[es]=Guardar la imagen escaneada
Comment[eu]=Gorde eskaneatutako irudia
Comment[fi]=Tallenna luettu kuva
Comment[fr]=Enregistrer l'image numérisée
Comment[gl]=Gardar a imaxe escaneada.
Comment[it]=Salva l'immagine scansionata
Comment[ka]=სკანირებული გამოსახულების შენახვა
Comment[ko]=스캔한 그림 저장
Comment[nl]=De gescande afbeelding opslaan
Comment[pa]=ਸਕੈਨ ਕੀਤੇ ਚਿੱਤਰ ਨੂੰ ਸੰਭਾਲੋ
Comment[pl]=Zapisz zeskanowany obraz
Comment[pt]=Gravar a imagem digitalizada
Comment[sl]=Shrani optično prebrano sliko
Comment[sv]=Spara den inlästa bilden
Comment[tr]=Taranan görseli kaydet
Comment[uk]=Зберегти скановане зображення
Comment[x-test]=xxSave the scanned imagexx
Comment[zh_TW]=儲存已掃描的圖片
