[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/OcrPlugin
X-KDE-Library=kookaocrgocr
X-KDE-PluginInfo-Name=gocr
X-KDE-PluginInfo-License=GPL
Icon=gocr
Name=GOCR
Name[ca]=GOCR
Name[ca@valencia]=GOCR
Name[es]=GOCR
Name[fr]=GOCR
Name[gl]=GOCR
Name[nl]=GOCR
Name[pt]=GOCR
Name[sv]=GOCR
Name[uk]=GOCR
Name[x-test]=xxGOCRxx
Name[zh_TW]=GOCR
Comment=<emphasis>GOCR</emphasis> (sometimes known as <emphasis>JOCR</emphasis>) is an open source OCR engine, originally started by Joerg&nbsp;Schulenburg and now with a team of active developers.<nl/><nl/>See <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> for more information on GOCR.
Comment[ca]=El <emphasis>GOCR</emphasis> (a vegades conegut com a <emphasis>JOCR</emphasis>) és un motor d'OCR de codi font obert, començat originalment pel Joerg&nbsp;Schulenburg i ara hi ha un equip de desenvolupadors actius. <nl/><nl/>Vegeu <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> per a més informació quant al GOCR.
Comment[ca@valencia]=El <emphasis>GOCR</emphasis> (a vegades conegut com a <emphasis>JOCR</emphasis>) és un motor d'OCR de codi font obert, començat originalment pel Joerg&nbsp;Schulenburg i ara hi ha un equip de desenvolupadors actius. <nl/><nl/>Vegeu <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> per a més informació quant al GOCR.
Comment[fr]=<emphasis>GOCR</emphasis> (aussi connu en tant que <emphasis>JOCR</emphasis>) est un moteur de ROC open-source, initié par Joerg&nbsp;Schulenburg et désormais suivi par une équipe de développeurs.<nl/> <nl/>Consultez <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> pour plus d'informations sur GOCR.
Comment[gl]=<emphasis>GOCR</emphasis> (ás veces denominado <emphasis>JOCR</emphasis>) é un motor libre de recoñecemento óptico de caracteres (OCR) que comezou a desenvolver Joerg&nbsp;Schulenburg e que agora conta cun equipo de desenvolvedores activos.<nl/> <nl/> Consulte <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> para obter máis información sobre GOCR.
Comment[nl]=<emphasis>GOCR</emphasis> (ook bekend als <emphasis>JOCR</emphasis>) is een opensource OCR engine, oorspronkelijk gestart door Joerg&nbsp;Schulenburg en nu met een team van actieve ontwikkelaars.<nl/><nl/>Zie <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> voor meer informatie over GOCR.
Comment[pt]=O <emphasis>GOCR</emphasis> (conhecido algumas vezes como <emphasis>JOCR</emphasis>) é um motor de OCR em código aberto, iniciado originalmente por Joerg&nbsp;Schulenburg e agora é composto por uma equipa de programadores activos.<nl/><nl/>Veja em <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> mais informações sobre o GOCR.
Comment[sv]=<emphasis>GOCR</emphasis> (ibland kallat <emphasis>JOCR</emphasis>) är ett program för optisk teckentydning med öppen källkod, ursprungligen startat av Jörg&nbsp;Schulenburg, nu med en grupp aktiva utvecklare.<nl/><nl/>Se <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> för mer information om GOCR.
Comment[uk]=<emphasis>GOCR</emphasis> (іноді програму називають <emphasis>JOCR</emphasis>) — рушій розпізнавання текстів з відкритим кодом, першим розробником якого є Joerg&nbsp;Schulenburg. Зараз за розробку відповідає команда інших розробників.<nl/><nl/>Докладніші дані щодо GOCR можна знайти на сторінці <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link>.
Comment[x-test]=xx<emphasis>GOCR</emphasis> (sometimes known as <emphasis>JOCR</emphasis>) is an open source OCR engine, originally started by Joerg&nbsp;Schulenburg and now with a team of active developers.<nl/><nl/>See <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> for more information on GOCR.xx
Comment[zh_TW]=<emphasis>GOCR</emphasis> (也被稱為 <emphasis>JOCR</emphasis>) 是個開源的 OCR 引擎，最初由 Joerg&nbsp;Schulenburg 開始這個計畫，而現在則與活躍的開發者團隊一起開發。<nl/><nl/>閱讀 <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> 取得 GOCR 的更多資訊。
