[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/OcrPlugin
X-KDE-Library=kookaocrgocr
X-KDE-PluginInfo-Name=gocr
X-KDE-PluginInfo-License=GPL
Icon=gocr
Name=GOCR
Name[ca]=GOCR
Name[ca@valencia]=GOCR
Name[cs]=GOCR
Name[de]=GOCR
Name[en_GB]=GOCR
Name[es]=GOCR
Name[et]=GOCR
Name[eu]=GOCR
Name[fi]=GOCR
Name[fr]=GOCR
Name[gl]=GOCR
Name[it]=GOCR
Name[ko]=GOCR
Name[nl]=GOCR
Name[nn]=GOCR
Name[pa]=GOCR
Name[pl]=GOCR
Name[pt]=GOCR
Name[pt_BR]=GOCR
Name[sl]=GOCR
Name[sv]=GOCR
Name[tr]=GOCR
Name[uk]=GOCR
Name[x-test]=xxGOCRxx
Name[zh_TW]=GOCR
Comment=<emphasis>GOCR</emphasis> (sometimes known as <emphasis>JOCR</emphasis>) is an open source OCR engine, originally started by Joerg&nbsp;Schulenburg and now with a team of active developers.<nl/><nl/>See <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> for more information on GOCR.
Comment[ca]=El <emphasis>GOCR</emphasis> (a vegades conegut com a <emphasis>JOCR</emphasis>) és un motor d'OCR de codi font obert, començat originalment per en Joerg&nbsp;Schulenburg i ara hi ha un equip de desenvolupadors actius. <nl/><nl/>Vegeu <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> per a obtenir més informació quant al GOCR.
Comment[ca@valencia]=<emphasis>GOCR</emphasis> (a vegades conegut com a <emphasis>JOCR</emphasis>) és un motor d'OCR de codi font obert, començat originalment per en Joerg&nbsp;Schulenburg i ara hi ha un equip de desenvolupadors actius. <nl/><nl/>Vejau <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> per a obtindre més informació quant a GOCR.
Comment[de]=<emphasis>GOCR</emphasis> (auch unter dem Namen <emphasis>JOCR</emphasis> bekannt) ist ein „Open Source“-Modul zur Zeichenerkennung, begonnen von Joerg&nbsp;Schulenburg und jetzt von einem Team von aktiven Entwicklern.<nl/><nl/>Weitere Informationen über GOCR finden Sie auf <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link>.
Comment[en_GB]=<emphasis>GOCR</emphasis> (sometimes known as <emphasis>JOCR</emphasis>) is an open source OCR engine, originally started by Joerg&nbsp;Schulenburg and now with a team of active developers.<nl/><nl/>See <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> for more information on GOCR.
Comment[es]=<emphasis>GOCR</emphasis> (a veces conocido como <emphasis>JOCR</emphasis> es un motor OCR de código abierto, iniciado originalmente por Joerg&nbsp;Schulenburg y mantenido en la actualidad por un equipo de desarrolladores activos.<nl/><nl/>Consulte <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> para más información sobre GOCR.
Comment[et]=<emphasis>GOCR</emphasis> (vahel ka nimega <emphasis>JOCR</emphasis>) on avatud lähtekoodiga optilise märgituvastuse mootor, mille algselt lõi Joerg&nbsp;Schulenburg ja mida nüüd arendab terve aktiivne meeskond.<nl/><nl/>GOCR-i kohta leiab lähemat teavet veebilehelt <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link>.
Comment[eu]=<emphasis>GOCR</emphasis> (batzuetan <emphasis>JOCR</emphasis> gisa ezaguna) sorburu irekiko OCR motor bat da, jatorrian Joerg&nbsp;Schulenburg-ek hasia eta orain garatzaile-talde aktibo bat duena.<nl/><nl/>Begiratu <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> GOCR-ren gaineko informazio gehiago nahi baduzu.
Comment[fi]=<emphasis>GOCR</emphasis> (joka joskus tunnetaan nimellä <emphasis>JOCR</emphasis> on avoimen lähdekoodin tekstintunnistusmoottori, jonka alkuaan loi Joerg&nbsp;Schulenberg ja jota nykyään kehittää aktiivinen kehitysryhmä.<nl/><nl/>Lisätietoa GOCR:stä löytyy sivulta <link url="http://jocr.sourceforge.net/">jocr.sourceforge.net</link>.
Comment[fr]=<emphasis>GOCR</emphasis> (aussi connu en tant que <emphasis>JOCR</emphasis>) est un moteur de ROC open-source, initié par Joerg&nbsp;Schulenburg et désormais suivi par une équipe de développeurs.<nl/> <nl/>Consultez <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> pour plus d'informations sur GOCR.
Comment[gl]=<emphasis>GOCR</emphasis> (ás veces denominado <emphasis>JOCR</emphasis>) é un motor libre de recoñecemento óptico de caracteres (OCR) que comezou a desenvolver Joerg&nbsp;Schulenburg e que agora goza dun equipo de desenvolvedores activos.<nl/> <nl/> Consulte <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> para obter máis información sobre GOCR.
Comment[it]=<emphasis>GOCR</emphasis> (talvolta conosciuto come <emphasis>JOCR</emphasis>) è un motore per il riconoscimento ottico dei caratteri (OCR) open source, sviluppato inizialmente da Joerg&nbsp;Schulenburg e ora con un gruppo di sviluppatori attivi.<nl/><nl/>Per ulteriori informazioni su GOCR, visita il sito <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link>.
Comment[ko]=<emphasis>GOCR</emphasis>(<emphasis>JOCR</emphasis>이라고도 함)은 오픈 소스 OCR 엔진으로, 원래는 Joerg&nbsp;Schulenburg가 시작했으며 현재 활동 중인 개발자로 구성된 팀과 함께 있습니다.<nl/><nl/>GOCR의 자세한 정보는 <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link>을 참조하십시오.
Comment[nl]=<emphasis>GOCR</emphasis> (ook bekend als <emphasis>JOCR</emphasis>) is een opensource OCR engine, oorspronkelijk gestart door Joerg&nbsp;Schulenburg en nu met een team van actieve ontwikkelaars.<nl/><nl/>Zie <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> voor meer informatie over GOCR.
Comment[pl]=<emphasis>GOCR</emphasis> (czasami znane jako <emphasis>JOCR</emphasis>) jest silnikiem OCRo otwartym kodzie, pierwotnie rozpoczętym przez Joerg&nbsp;Schulenburg, a teraz z zespołem aktywnych programistów. <nl/><nl/>Zobacz <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> po więcej informacji na temat GOCR.
Comment[pt]=O <emphasis>GOCR</emphasis> (conhecido algumas vezes como <emphasis>JOCR</emphasis>) é um motor de OCR em código aberto, iniciado originalmente por Joerg&nbsp;Schulenburg e agora é composto por uma equipa de programadores activos.<nl/><nl/>Veja em <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> mais informações sobre o GOCR.
Comment[sl]=<emphasis>GOCR</emphasis> (včasih znan kot <emphasis>JOCR</emphasis>) je odprtokodni razpoznavalnik znakov (OCR), ki ga je sprva začel Joerg&nbsp;Schulenburg zdaj skupaj z ekipo aktivnih razvijalcev.<nl/><nl/>Oglejte si <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> za več informacij o GOCR.
Comment[sv]=<emphasis>GOCR</emphasis> (ibland kallat <emphasis>JOCR</emphasis>) är ett program för optisk teckentydning med öppen källkod, ursprungligen startat av Jörg&nbsp;Schulenburg, nu med en grupp aktiva utvecklare.<nl/><nl/>Se <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> för mer information om GOCR.
Comment[tr]=<emphasis>GOCR</emphasis> (bazen <emphasis>JOCR</emphasis> olarak da bilinir), ilk olarak Jörg Schulenberg tarafından oluşturulan ve şimdi etkin bir geliştirici takımı tarafından geliştirilmesi sürdürülen açık kaynaklı bir OCR kitaplığıdır.<nl/><nl/>GOCR üzerine daha fazla bilgi için <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> sayfasına bakın.
Comment[uk]=<emphasis>GOCR</emphasis> (іноді програму називають <emphasis>JOCR</emphasis>) — рушій розпізнавання текстів з відкритим кодом, першим розробником якого є Joerg&nbsp;Schulenburg. Зараз за розробку відповідає команда інших розробників.<nl/><nl/>Докладніші дані щодо GOCR можна знайти на сторінці <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link>.
Comment[x-test]=xx<emphasis>GOCR</emphasis> (sometimes known as <emphasis>JOCR</emphasis>) is an open source OCR engine, originally started by Joerg&nbsp;Schulenburg and now with a team of active developers.<nl/><nl/>See <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> for more information on GOCR.xx
Comment[zh_TW]=<emphasis>GOCR</emphasis> (也被稱為 <emphasis>JOCR</emphasis>) 是個開源的 OCR 引擎，最初由 Joerg&nbsp;Schulenburg 開始這個計畫，而現在則與活躍的開發者團隊一起開發。<nl/><nl/>閱讀 <link url="http://jocr.sourceforge.net">jocr.sourceforge.net</link> 取得 GOCR 的更多資訊。
