[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/DestinationPlugin
X-KDE-Library=kookadestinationapplication
X-KDE-PluginInfo-Name=destinationapplication
X-KDE-PluginInfo-License=GPL
Icon=system-run

Name=Application
Comment=Open the scanned image in an application
