[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/DestinationPlugin
X-KDE-Library=kookadestinationapplication
X-KDE-PluginInfo-Name=destinationapplication
X-KDE-PluginInfo-License=GPL
Icon=system-run

Name=Application
Name[ca]=Aplicació
Name[ca@valencia]=Aplicació
Name[cs]=Aplikace
Name[de]=Anwendung
Name[es]=Aplicación
Name[fr]=Application
Name[it]=Applicazione
Name[nl]=Toepassing
Name[pt]=Aplicação
Name[sl]=Aplikacija
Name[sv]=Program
Name[uk]=Програма
Name[x-test]=xxApplicationxx
Comment=Open the scanned image in an application
Comment[ca]=Obre la imatge escanejada en una aplicació
Comment[ca@valencia]=Obri la imatge escanejada en una aplicació
Comment[es]=Abrir la imagen escaneada en una aplicación
Comment[fr]=Ouvrir l'élément numérisé avec l'application.
Comment[it]=Apri l'immagine scansionata in un'applicazione
Comment[nl]=De gescande afbeelding in een toepassing openen
Comment[pt]=Abrir a imagem digitalizada numa aplicação
Comment[sl]=Odpri optično prebrano sliko v aplikaciji
Comment[sv]=Öppna den inlästa bilden i ett program
Comment[uk]=Відкрити скановане зображення у програмі
Comment[x-test]=xxOpen the scanned image in an applicationxx
