[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kooka/OcrPlugin
X-KDE-Derived=KPluginInfo
Name=Kooka OCR Plugin
Name[ca]=Connector OCR del Kooka
Name[ca@valencia]=Connector OCR del Kooka
Name[de]=OCR-Modul für Kooka
Name[es]=Complemento OCR de Kooka
Name[fi]=Kookan tekstintunnistusliitännäinen
Name[fr]=Module externe Kooka OCR
Name[gl]=Complemento de OCR de Kooka
Name[it]=Estensione OCR di Kooka
Name[ko]=Kooka OCR 플러그인
Name[nl]=Kooka OCR-plug-in
Name[nn]=Kooka OCR-tillegg
Name[pl]=Wtyczka OCR Kooka
Name[pt]='Plugin' de OCR do Kooka
Name[sv]=Kooka insticksprogram för optisk teckentydning
Name[uk]=Додаток розпізнавання тексту Kooka
Name[x-test]=xxKooka OCR Pluginxx
Name[zh_TW]=Kooka OCR 外掛程式
