[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kooka/OcrPlugin
X-KDE-Derived=KPluginInfo
Name=Kooka OCR Plugin
Name[ca]=Connector OCR del Kooka
Name[ca@valencia]=Connector OCR del Kooka
Name[fr]=Module externe Kooka OCR
Name[gl]=Complemento de OCR de Kooka
Name[nl]=Kooka OCR-plug-in
Name[pt]='Plugin' de OCR do Kooka
Name[sv]=Kooka insticksprogram för optisk teckentydning
Name[uk]=Додаток розпізнавання тексту Kooka
Name[x-test]=xxKooka OCR Pluginxx
Name[zh_TW]=Kooka OCR 外掛程式
