[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDE Scan Service
Name[cs]=Skenovací služba pro KDE
Name[nds]=Bildinleesdeenst för KDE
Name[nl]=KDE Scannerdiensten
Name[nn]=KDE Skanningsteneste
Name[pt]=Serviço de Digitalização do KDE
Name[pt_BR]=Serviço de digitalização do KDE
Name[sv]=KDE:s bildläsartjänst
Name[uk]=Служба сканування KDE
Name[x-test]=xxKDE Scan Servicexx
Name[zh_CN]=KDE 扫描服务
X-KDE-Library=libkscan
InitialPreference=2
ServiceTypes=KScan/KScanDialog
