[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDE Scan Service
Name[bg]=Услуга за сканиране в KDE
Name[bs]=KDE‑ov servis za skeniranje
Name[cs]=Skenovací služba pro KDE
Name[de]=Scan-Dienst von KDE
Name[es]=Servicio de escáner de KDE
Name[et]=KDE skannimisteenus
Name[fi]=KDE :n skannauspalvelu
Name[fr]=Service de numérisation pour KDE
Name[ga]=Seirbhís Scanta KDE
Name[hu]=KDE szkennelő szolgáltatás
Name[it]=Funzione di scansione di KDE
Name[km]=សេវា​ស្កេន​របស់ KDE
Name[mr]=केडीई स्कॅन सेवा
Name[nds]=Bildinleesdeenst för KDE
Name[nl]=KDE Scannerdiensten
Name[nn]=KDE Skanningsteneste
Name[pl]=Usługa skanowania dla KDE
Name[pt]=Serviço de Digitalização do KDE
Name[pt_BR]=Serviço de digitalização do KDE
Name[sk]=Skenovacia služba pre KDE
Name[sv]=KDE:s bildläsartjänst
Name[uk]=Служба сканування KDE
Name[x-test]=xxKDE Scan Servicexx
Name[zh_CN]=KDE 扫描服务
X-KDE-Library=libkscan
InitialPreference=2
ServiceTypes=KScan/KScanDialog
