[Desktop Entry]
Type=Service
X-KDE-PluginInfo-License=GPL
Icon=tesseract
Name=Tesseract
Name[ca]=Tesseract
Name[ca@valencia]=Tesseract
Name[cs]=Tesseract
Name[de]=Tesseract
Name[en_GB]=Tesseract
Name[es]=Tesseract
Name[et]=Tesseract
Name[eu]=Tesseract
Name[fi]=Tesseract
Name[fr]=Tesseract
Name[gl]=Tesseract
Name[it]=Tesseract
Name[ka]=Tesseract
Name[ko]=Tesseract
Name[nl]=Tesseract
Name[pa]=Tesseract
Name[pl]=Tesseract
Name[pt]=Tesseract
Name[pt_BR]=Tesseract
Name[sl]=Tesseract
Name[sv]=Tesseract
Name[tr]=Tesseract
Name[uk]=Tesseract
Name[x-test]=xxTesseractxx
Comment=<emphasis>Tesseract</emphasis> is a free software OCR engine, originally developed at HP&nbsp;Labs and now sponsored by Google. It supports multiple languages and scripts (including right-to-left text) and page layout analysis.<nl/><nl/>The best results are achieved if scanned characters are at least 20&nbsp;pixels high. Problems may arise with excessively skewed or rotated images, or if dark borders are present.<nl/><nl/>See <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> for more information on Tesseract.
Comment[ca]=El <emphasis>Tesseract</emphasis> és un motor d'OCR de programari lliure, desenvolupat originalment en els laboratoris d'HP i ara patrocinat per Google. Admet múltiples idiomes i scripts (inclòs el text de dreta a esquerra) i analitza la disposició de la pàgina.<nl/><nl/>S'obtenen els millors resultats si els caràcters escanejats tenen almenys 20 píxels d'alçada. Poden sorgir problemes amb imatges excessivament inclinades o girades, o si hi ha presents vores fosques.<nl/><nl/>Vegeu <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> per a obtenir més informació quant al Tesseract.
Comment[ca@valencia]=<emphasis>Tesseract</emphasis> és un motor d'OCR de programari lliure, desenvolupat originalment en els laboratoris d'HP i ara patrocinat per Google. Admet múltiples idiomes i scripts (inclòs el text de dreta a esquerra) i analitza la disposició de la pàgina.<nl/><nl/>S'obtenen els millors resultats si els caràcters escanejats tenen almenys 20 píxels d'alçària. Poden sorgir problemes amb imatges excessivament inclinades o girades, o si hi ha presents vores fosques.<nl/><nl/>Vegeu <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> per a obtindre més informació quant a Tesseract.
Comment[en_GB]=<emphasis>Tesseract</emphasis> is a free software OCR engine, originally developed at HP&nbsp;Labs and now sponsored by Google. It supports multiple languages and scripts (including right-to-left text) and page layout analysis.<nl/><nl/>The best results are achieved if scanned characters are at least 20&nbsp;pixels high. Problems may arise with excessively skewed or rotated images, or if dark borders are present.<nl/><nl/>See <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> for more information on Tesseract.
Comment[es]=<emphasis>Tesseract</emphasis> es un motor OCR de software libre, desarrollado originalmente en HP&nbsp;Labs y patrocinado en la actualidad por Google. Permite el uso de múltiples idiomas, scripts y análisis de formatos de página (incluido texto de derecha a izquierda).<nl/><nl/>El mejor resultado se consigue si los caracteres escaneados tienen al menos 20&nbsp;píxeles de altura. Pueden surgir problemas con caracteres excesivamente inclinados, con imágenes rotadas o si existen bordes oscuros.<nl/><nl/>Consulte  <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> para obtener más información sobre Tesseract.
Comment[et]=<emphasis>Tesseract</emphasis> on vabatarkvaraline optilise märgituvastuse mootor, mille algselt töötas välja HP&nbsp;Labs ja mida nüüd toetab Google. See pakub paljude keelte ja kirjade (ka paremalt vasakule kulgeva tekstiga) tuge ning lehekülje paigutuse analüüsi.<nl/><nl/>Tulemused on paremad, kui märkide kõrgus on vähemalt 20&nbsp;pikslit. Probleeme võivad tekitada üleliia kiivas või pööratud pildid ning tumedad servad. Tesseracti kohta leiab lähemat teavet veebilehelt <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link>
Comment[eu]=<emphasis>Tesseract</emphasis> software askeko OCR motor bat da, jatorrian HP&nbsp;Labs-ek garatua, egun Google-k babestua. Hainbat hizkuntza eta idazkera (eskuinetik-ezkerrerako testua barne) eta orri diseinuaren analisia onartzen ditu.<nl/><nl/>Emaitzarik onenak karaktereak gutxienez 20&nbsp;pixeletako altuera dutenean lortzen dira. Arazoak sor daitezke gehiegi okertutako edo biratutako irudiekin, edo ertz ilunak badaude.<nl/><nl/>Begiratu <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> Tesseract-en gaineko informazio gehiago nahi baduzu.
Comment[fi]=<emphasis>Tesseract</emphasis> on vapaan ohjelmiston tekstintunnistusmoottori, joka alkuaan on kehitetty HP Labsissä ja jota nykyään sponsoroi Google. Se tukee useita kieliä, kirjoitusjärjestelmiä (myös oikealta vasemmalle -suuntaisia) ja sivunasetteluanalyyseja.<nl/><nl/>Parhaan tuloksen saa, jos luetut merkit ovat vähintään 20&nbsp;kuvapistettä korkeita. Ongelmia saattaa tulla hyvin vinoista tai käännetyistä kuvista tai kuvan tummista reunuksista.<nl/><nl/>Lisätietoa Tesseractista löytyy sivulta <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link>.
Comment[fr]=<emphasis>Tesseract</emphasis> est un logiciel de ROC gratuit, développé à l'origine par HP&nbsp;Labs et désormais soutenu par Google. Il prend en charge plusieurs langues, systèmes d'écriture (y compris de droite à gauche) et dispositions de pages.<nl/><nl/>De meilleurs résultats sont obtenus si la taille des caractères est d'au moins 20&nbsp;pixels. Des problèmes peuvent cependant survenir avec des images ayant subi des distorsions ou des rotations trop importantes, ou en cas de bordures sombres.<nl/><nl/>Consultez <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> pour de plus amples informations sur Tesseract.
Comment[gl]=<emphasis>Tesseract</emphasis> é un motor libre de recoñecemento óptico de caracteres (OCR), desenvolvido orixinalmente en HP&nbsp;Labs e agora patrocinado por Google. Permite varios idiomas e alfabetos (incluídos os que van de dereita a esquerda) e análise de disposición de páxina.<nl/> <nl/>Para un mellor resultado, cómpre que os caracteres escaneados teñan unha altura de polo menos 20&nbsp;píxeles. As imaxes con distorsións ou rotadas en exceso, así como os bordos escuros, poden causar problemas.<nl/> <nl/>Consulte <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> para obter máis información sobre Tesseract.
Comment[it]=<emphasis>Tesseract</emphasis> è un motore per il riconoscimento ottico dei caratteri (OCR) libero, sviluppato in origine da HP&nbsp;Labs e ora sostenuto da Google. Supporta più lingue e script (incluso il testo RTL) e l'analisi della disposizione della pagina.<nl/><nl/>I migliori risultati vengono raggiunti se i caratteri scansionati sono alti almeno 20 pixel. Si potrebbero presentare problemi con immagini ruotate o eccessivamente distorte oppure se sono presenti bordi scuri.<nl/><nl/>Per ulteriori informazioni su Tesseract consulta <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link>.
Comment[ko]=<emphasis>Tesseract</emphasis>HP&nbsp;Labs에서 개발했고 Google에서 지원하는 자유 소프트웨어 OCR 엔진입니다. 다양한 언어와 문자(오른쪽에서 왼쪽으로 쓰는 문자 포함)를 지원하며 페이지 레이아웃 분석을 지원합니다.<nl/><nl/>문자가 최소 20픽셀 이상일 경우 최상의 결과를 얻을 수 있습니다. 과도하게 기울어지거나 돌아갔거나, 어두운 경계선이 있다면 문제가 발생할 수 있습니다.<nl/><nl/>Tesseract에 대한 자세한 정보는 <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link>페이지를 참조하십시오.
Comment[nl]=<emphasis>Tesseract</emphasis> is een vrije software OCR-engine, oorspronkelijk ontworpen in HP&nbsp;Labs en nu gesponsord door Google. Het ondersteunt meerdere talen en scripts (inclusief rechts-naar-links tekst) en analyse van pagina-indeling.<nl/><nl/>De beste resultaten worden verkregen als gescande tekens minstens 20&nbsp;pixels hoog zijn. Problemen kunnen optreden met overdreven schuine of gedraaide afbeeldingen of als er donkere randen aanwezig zijn.<nl/><nl/>Zie <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> voor meer informatie over Tesseract.
Comment[pl]=<emphasis>Tesseract</emphasis> jest darmowym programowym silnikiem OCR napisanym przez HP&nbsp;Labs, a teraz wspieranym przez Google. Obsługuje wiele języków, systemów pisania (także te od prawej do lewej) oraz analizowanie układu.<nl/><nl/>Najlepsze wyniki można uzyskać, gdy skanowane znaki mają co najmniej 20&nbsp;pikseli wysokości. Kłopoty mogą się pojawić przy nadmiernie skrzywionych lub obróconych obrazach, albo gdy obecne są ciemne obramowania.<nl/><nl/>Po więcej szczegółów nt. Tesseract zajrzyj na <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link>.
Comment[pt]=O <emphasis>Tesseract</emphasis> é um motor de OCR em 'software' livre, desenvolvido originalmente pela HP&nbsp;Labs e é agora patrocinado pela Google. Suporta várias línguas e caligrafias (incluindo texto da direita para a esquerda) e análise da disposição da página.<nl/><nl/>É possível atingir resultados melhores se os caracteres tiverem pelo menos 20&nbsp;pixels de altura. Poderão surgir problemas com imagens extremamente rodadas ou inclinadas ou se estiverem presentes contornos escuros.<nl/><nl/>Veja em <link url="https://github.com/tesseract-ocr/tesseract">https://github.com/tesseract-ocr/tesseract</link> mais informações sobre o Tesseract.
Comment[sl]=<emphasis>Tesseract</emphasis> je prosta programska oprema za OCR, ki je bila prvotno razvita v HP Labs, zdaj pa ga sponzorira Google. Podpira več jezikov in skript (vključno z besedilom od desne proti levi) in analizo postavitve strani.<nl/><nl/>Najboljši rezultate dosežemo, če so skenirani znaki visoki najmanj 20 pik. Težave lahko nastanejo pri pretirano nagnjenem oz. zasukanih slikah ali če so prisotne temne obrobe.<nl/><nl/>Glejte <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> za več informacij o Tesseractu.
Comment[sv]=<emphasis>Tesseract</emphasis> är ett fritt program för optisk teckentydning, ursprungligen utvecklat på HP&nbsp;Labs och nu sponsrat av Google. Det stödjer flera språk och skrivtecken (inklusive text från höger till vänster) och analys av sidlayout.<nl/><nl/>De bästa resultaten uppnås om tecknen är minst 20&nbsp;bildpunkter höga. Problem kan uppstå med extremt skeva eller roterade bilder, eller om det finns mörka kanter.<nl/><nl/>Se <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> för mer information om Tesseract.
Comment[tr]=<emphasis>Tesseract</emphasis>, özgür bir OCR işletkesidir; ilk olarak HP&nbsp;Laboratuvarlarında geliştirilmiş ve şu anda Google tarafından sponsor olunmaktadır. Çoklu dil ve yazı dizisi desteği (sağdan sola metinler de dahil olmak üzere) ve ek olarak sayfa yerleşimi çözümlemesi desteği vardır.<nl/><nl/>En iyi sonuçlar, taranan karakterler en az 20&nbsp;piksel yüksekliğindeyse alınır. Bozuk veya döndürülmüş görsellerde sıkıntılar ortaya çıkabilir, kalın kenarlar varsa da sorunlar olabilir.<nl/><nl/>Tesseract hakkında daha fazla bilgi için <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> sayfasını ziyaret edin.
Comment[uk]=<emphasis>Tesseract</emphasis> — вільний рушій для розпізнавання тексту, початкову версію якого було створено у HP&nbsp;Labs. Зараз розробку спонсорує Google. Передбачено підтримку декількох мов та писемностей (зокрема писемностей із напрямком тексту справа ліворуч) та аналізу компонування сторінки.<nl/><nl/>Найкращі результат дає для сканованих символів, розмір яких перевищує 20&nbsp;пікселів у висоту. Проблемними можуть бути рядки тексту із значним нахилом або поворотом, а також сторінки із темними полями.<nl/><nl/>Щоб дізнатися більше про Tesseract, відвідайте сторінку <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link>.
Comment[x-test]=xx<emphasis>Tesseract</emphasis> is a free software OCR engine, originally developed at HP&nbsp;Labs and now sponsored by Google. It supports multiple languages and scripts (including right-to-left text) and page layout analysis.<nl/><nl/>The best results are achieved if scanned characters are at least 20&nbsp;pixels high. Problems may arise with excessively skewed or rotated images, or if dark borders are present.<nl/><nl/>See <link url="https://github.com/tesseract-ocr/tesseract">github.com/tesseract-ocr/tesseract</link> for more information on Tesseract.xx
