[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/DestinationPlugin
X-KDE-Library=kookadestinationshare
X-KDE-PluginInfo-Name=destinationshare
X-KDE-PluginInfo-License=GPL
Icon=document-share

Name=Share Image
Name[ca]=Comparteix una imatge
Name[ca@valencia]=Comparteix una imatge
Name[cs]=Sdílet obrázek
Name[de]=Bild teilen
Name[en_GB]=Share Image
Name[es]=Compartir imagen
Name[eu]=Partekatu irudia
Name[fi]=Jaa kuva
Name[fr]=Partager une image
Name[it]=Condividi immagine
Name[ko]=그림 공유
Name[nl]=Afbeelding delen
Name[pa]=ਚਿੱਤਰ ਸਾਂਝਾ ਕਰੋ
Name[pl]=Udostępnij obraz
Name[pt]=Partilhar a Imagem
Name[sl]=Deli sliko
Name[sv]=Dela bild
Name[uk]=Оприлюднити зображення
Name[x-test]=xxShare Imagexx
Comment=Share the scanned image
Comment[ca]=Comparteix la imatge escanejada
Comment[ca@valencia]=Comparteix la imatge escanejada
Comment[de]=Teilt das eingescannte Bild
Comment[en_GB]=Share the scanned image
Comment[es]=Compartir la imagen escaneada
Comment[eu]=Partekatu eskaneatutako irudia
Comment[fi]=Jaa luettu kuva
Comment[fr]=Partager l'image numérisée
Comment[it]=Condividi l'immagine scansionata
Comment[ko]=스캔한 그림 공유
Comment[nl]=De gescande afbeelding delen
Comment[pa]=ਸਕੈਨ ਕੀਤੇ ਚਿੱਤਰ ਨੂੰ ਸਾਂਝਾ ਕਰੋ
Comment[pl]=Udostępnij zeskanowany obraz
Comment[pt]=Partilhar a imagem digitalizada
Comment[sl]=Deli optično prebrano sliko
Comment[sv]=Dela den inlästa bilden
Comment[uk]=Оприлюднення сканованого зображення
Comment[x-test]=xxShare the scanned imagexx
