[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/DestinationPlugin
X-KDE-Library=kookadestinationshare
X-KDE-PluginInfo-Name=destinationshare
X-KDE-PluginInfo-License=GPL
Icon=document-share

Name=Share Image
Name[ca]=Comparteix una imatge
Name[ca@valencia]=Comparteix una imatge
Name[de]=Bild teilen
Name[es]=Compartir imagen
Name[fr]=Partager une image
Name[it]=Condividi immagine
Name[nl]=Afbeelding delen
Name[pt]=Partilhar a Imagem
Name[sl]=Deli sliko
Name[sv]=Dela bild
Name[uk]=Оприлюднити зображення
Name[x-test]=xxShare Imagexx
Comment=Share the scanned image
Comment[ca]=Comparteix la imatge escanejada
Comment[ca@valencia]=Comparteix la imatge escanejada
Comment[es]=Compartir la imagen escaneada
Comment[fr]=Partager l'image numérisée
Comment[it]=Condividi l'immagine scansionata
Comment[nl]=De gescande afbeelding delen
Comment[pt]=Partilhar a imagem digitalizada
Comment[sl]=Deli optično prebrano sliko
Comment[sv]=Dela den inlästa bilden
Comment[uk]=Оприлюднення сканованого зображення
Comment[x-test]=xxShare the scanned imagexx
