[Desktop Entry]
Type=Application
Exec=kooka %i %m %U
Icon=scanner
Path=
Terminal=false
DocPath=kooka/index.html
GenericName=Scan & OCR Program
GenericName[af]=Skandeer & Optiese karakter herkenning Program
GenericName[ar]=برنامج للمسح الضوئي
GenericName[bg]=Сканиране
GenericName[bs]=Program za skeniranje i OCR
GenericName[ca]=Programa d'escaneig i OCR
GenericName[cs]=Program pro skenování a OCR
GenericName[cy]=Rhaglen Sganio ac OCR
GenericName[da]=Skanne- & OCR-program
GenericName[de]=Scan- und OCR-Programm
GenericName[el]=Πρόγραμμα Σάρωσης & OCR
GenericName[eo]=Bildbitiga programo kaj tekstrekono
GenericName[es]=OCR y explorador con un escáner
GenericName[et]=Skaneerimise ja OMT rakendus
GenericName[eu]=Eskaneatzeko eta OCR programa
GenericName[fa]=پویش و برنامۀ OCR
GenericName[fi]=Skannaus- ja tekstintunnistusohjelma
GenericName[fr]=Numérisation et reconnaissance de caractères
GenericName[gl]=Programa para escanear e facer OCR
GenericName[he]=תוכנית סריקה וזיהוי תווים אופטי
GenericName[hi]=स्कैन व ऑप्टिकल कैरेक्टर रिकॉग्नीशन प्रोग्राम (OCR)
GenericName[hr]=Program za skaniranje i OCR
GenericName[hu]=Lapolvasó
GenericName[is]=Forrit til að skanna inn myndir
GenericName[it]=Programma di scansione e OCR
GenericName[ja]=スキャン & OCR プログラム
GenericName[kk]=Сканерге түсіру және танып-талдау
GenericName[km]=កម្មវិធី​ស្កេន & OCR
GenericName[lt]=Skanavimo ir teksto atpažinimo programa
GenericName[lv]=Skanēšanas un OCR Programma
GenericName[ms]=Program Imbas & OCR
GenericName[nb]=Et skanne-og OCR-program
GenericName[nds]=Inlees- un OTR-Programm
GenericName[ne]=स्क्यान र OCR कार्यक्रम
GenericName[nl]=Scan- en OCR-programma
GenericName[nn]=Skanne- og tekstattkjenningsprogram
GenericName[pl]=Program do skanowania i rozpoznawania pisma
GenericName[pt]=Programa de Digitalização e OCR
GenericName[pt_BR]=Um programa de Digitalização & OCR
GenericName[ro]=Scanare imagini şi OCR
GenericName[ru]=Сканирование и распознавание текста
GenericName[sk]=Skenovací program s OCR
GenericName[sl]=Program za skeniranje in prepoznavanje znakov
GenericName[sr]=Програм за скенирање и препознавање текста
GenericName[sr@Latn]=Program za skeniranje i prepoznavanje teksta
GenericName[sv]=Bildläsar- och OCR-program
GenericName[ta]=வருடு & OCR நிரலி
GenericName[tg]=Барномаи сканеронӣ ва шиносоии матн
GenericName[th]=โปรแกรมสแกนภาพและ OCR
GenericName[tr]=Tarayıcı ve karakter tanıma programı
GenericName[uk]=Програма сканування та розпізнавання символів
GenericName[ven]=U nanga & Mbekanyamushumo ya OCR
GenericName[wa]=Programe di scanaedje eyet di ricnoxhance di tecse
GenericName[xh]=Udweliso Lwenkqubo Yemita Yovavanyo
GenericName[zh_CN]=扫描和文字识别程序
GenericName[zh_HK]=掃描和文字辦識程式
GenericName[zh_TW]=掃描和文字辦識程式
GenericName[zu]=Scan & OCR Iprogremu
Name=Kooka
Name[ar]=برنامج Kooka
Name[eo]=Kokao
Name[hi]=कूका
Name[is]=Skanni
Name[ko]=쿠카
Name[ne]=कोओका
Name[pa]=ਕੋਕਾ
Name[ta]=கூக்கா
Name[zh_TW]=Kooka 掃描器

X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Graphics;
