[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kooka %i %m %U
Icon=scanner
TerminalOptions=
Path=
Terminal=0
BinaryPattern=kooka
DocPath=kooka/kooka.html
Comment=Scan & OCR Program
Comment[ar]=برنامج للمسح الضوئي
Comment[da]=Scanne- & OCR-program
Comment[de]=Scan- und OCR-Programm
Comment[es]=Programa OCR y de exploración con un escáner
Comment[fi]=Skannaus ja tekstintunnistusohjelma
Comment[fr]=Un logiciel de numérisation et de reconnaissance de caractères
Comment[he]=תוכנית סריקה וזיהוי תווים אופטי
Comment[hu]=Lapbeolvasó (scannelő) és karakterfelismerő (OCR) program
Comment[lt]=Skanavimo ir teksto atpažinimo programa
Comment[lv]=Skanēšanas un OCR Programma
Comment[pt]=Programa de Digitalização e OCR
Comment[pt_BR]=Programa de Digitalização e OCR
Comment[sk]=Skenovací program s OCR
Comment[sv]=Bildläsar- & OCR-program
Comment[ta]=ÅÕ¼ø & OCR ¿¢Ãø
Comment[xx]=xx
Name=Kooka
Name[af]=kooka
Name[ar]=كووكا
Name[eo]=Kokao
Name[hu]=Kooka lapbeolvasó
Name[is]=Skanni
Name[ko]=쿠카
Name[xx]=xx

X-DCOP-ServiceType=Multi
