<!DOCTYPE kookagui>
<kookagui name="Kooka" version="1">
<MenuBar>
 <Menu name="settings"><text>&amp;Settings</text>
   <Action name="show_scanparams"/>
 </Menu>
</MenuBar>
 <Toolbar  name="buttons" fullWidth="true">
   <text>Main Toolbar</text>
   <Action name="ocr"/>
 </Toolbar>
<StatusBar/>
</kookagui>
