[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kooka %i %m %U
Icon=scanner
Path=
Terminal=false
DocPath=kooka/index.html
GenericName=Scan & OCR Program
Name=Kooka

X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Graphics;
