[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/DestinationPlugin
X-KDE-Library=kookadestinationprint
X-KDE-PluginInfo-Name=destinationprint
X-KDE-PluginInfo-License=GPL
Icon=document-print

Name=Print Image
Name[ca]=Impressió de la imatge
Name[es]=Imprimir imagen
Name[nl]=Afbeelding afdrukken
Name[pt]=Imprimir a Imagem
Name[sl]=Natisni sliko
Name[sv]=Skriv ut bild
Name[uk]=Друк зображення
Name[x-test]=xxPrint Imagexx
Comment=Print the scanned image
Comment[ca]=Imprimeix la imatge escanejada
Comment[es]=Imprimir la imagen escaneada
Comment[nl]=De gescande afbeelding afdrukken
Comment[pt]=Imprimir a imagem digitalizada
Comment[sl]=Natisni optično prebrano sliko
Comment[sv]=Skriv ut den inlästa bilden
Comment[uk]=Надрукувати скановане зображення
Comment[x-test]=xxPrint the scanned imagexx
