[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/DestinationPlugin
X-KDE-Library=kookadestinationprint
X-KDE-PluginInfo-Name=destinationprint
X-KDE-PluginInfo-License=GPL
Icon=document-print

Name=Print Image
Name[ca]=Impressió de la imatge
Name[ca@valencia]=Impressió de la imatge
Name[cs]=Vytisknout obrázek
Name[de]=Bild drucken
Name[en_GB]=Print Image
Name[es]=Imprimir imagen
Name[eu]=Inprimatu irudia
Name[fi]=Tulosta kuva
Name[fr]=Imprimer une image
Name[it]=Stampa immagine
Name[ko]=그림 인쇄
Name[nl]=Afbeelding afdrukken
Name[pa]=ਚਿੱਤਰ ਪਰਿੰਟ ਕਰੋ
Name[pl]=Wydrukuj obraz
Name[pt]=Imprimir a Imagem
Name[sl]=Natisni sliko
Name[sv]=Skriv ut bild
Name[tr]=Görseli Yazdır
Name[uk]=Друк зображення
Name[x-test]=xxPrint Imagexx
Comment=Print the scanned image
Comment[ca]=Imprimeix la imatge escanejada
Comment[ca@valencia]=Imprimix la imatge escanejada
Comment[de]=Druckt das eingescannte Bild
Comment[en_GB]=Print the scanned image
Comment[es]=Imprimir la imagen escaneada
Comment[eu]=Inprimatu eskaneatutako irudia
Comment[fi]=Tulosta luettu kuva
Comment[fr]=Imprimer l'image numérisée
Comment[it]=Stampa l'immagine scansionata
Comment[ko]=스캔한 그림 인쇄
Comment[nl]=De gescande afbeelding afdrukken
Comment[pa]=ਸਕੈਨ ਕੀਤੇ ਚਿੱਤਰ ਪਰਿੰਟ ਕਰੋ
Comment[pl]=Wydrukuj zeskanowany obraz
Comment[pt]=Imprimir a imagem digitalizada
Comment[pt_BR]=Imprimir a imagem escaneada
Comment[sl]=Natisni optično prebrano sliko
Comment[sv]=Skriv ut den inlästa bilden
Comment[tr]=Taranan görseli yazdır
Comment[uk]=Надрукувати скановане зображення
Comment[x-test]=xxPrint the scanned imagexx
