[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/DestinationPlugin
X-KDE-Library=kookadestinationgallery
X-KDE-PluginInfo-Name=destinationgallery
X-KDE-PluginInfo-License=GPL
Icon=image-x-generic

Name=Scan Gallery
Name[ca]=Galeria d'escaneig
Name[ca@valencia]=Galeria d'escaneig
Name[de]=Scan-Galerie
Name[en_GB]=Scan Gallery
Name[es]=Galería de escaneo
Name[fr]=Analyser la galerie
Name[it]=Galleria scansioni
Name[nl]=Galerij voor scannen
Name[pl]=Galeria skanów
Name[pt]=Galeria de Digitalizações
Name[sl]=Galerija optično prebranih slik
Name[sv]=Sök igenom galleri
Name[uk]=Галерея сканування
Name[x-test]=xxScan Galleryxx
Comment=Save the scanned image to the scan gallery
Comment[ca]=Desa la imatge escanejada a la galeria d'escaneig
Comment[ca@valencia]=Guarda la imatge escanejada a la galeria d'escaneig
Comment[de]=Speichert das eingescannte Bild in der Galerie
Comment[en_GB]=Save the scanned image to the scan gallery
Comment[es]=Guardar la imagen escaneada en la galería de escaneo
Comment[fr]=Enregistrer l'image numérisée dans la galerie de numérisation
Comment[it]=Salva l'immagine scansionata nella galleria scansioni
Comment[nl]=De gescande afbeelding opslaan in de galerij voor scannen
Comment[pl]=Zapisz zeskanowany obraz w galerii skanów
Comment[pt]=Gravar a imagem digitalizada na galeria de digitalizações
Comment[sl]=Shrani optično prebrano sliko v galerijo
Comment[sv]=Spara den inlästa bilden i bildgalleriet
Comment[uk]=Зберегти скановане зображення у галереї сканування
Comment[x-test]=xxSave the scanned image to the scan galleryxx
