[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kooka/DestinationPlugin
X-KDE-Library=kookadestinationgallery
X-KDE-PluginInfo-Name=destinationgallery
X-KDE-PluginInfo-License=GPL
Icon=image-x-generic

Name=Scan Gallery
Comment=Save the scanned image to the scan gallery
