[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDE Scan Service
Name[el]=Υπηρεσία σάρωσης του KDE
Name[fr]=Service de numérisation pour KDE
Name[x-test]=xxKDE Scan Servicexx
X-KDE-Library=libkscan
InitialPreference=2
ServiceTypes=KScan/KScanDialog
