[Desktop Entry]
Type=Service
Name=KDE Scan Service
Name[az]=KDE Darama Servisi
Name[bg]=Сканиране в KDE
Name[cs]=Skenovací služba pro KDE
Name[da]=KDE Skan Service
Name[de]=Scan-Service von KDE
Name[eo]=Bildcifereciga servo
Name[es]=Servicio de digitalización de KDE
Name[et]=KDE skaneerimise teenus
Name[fi]=KDE skannauspalvelu
Name[fr]=Service de numérisation
Name[he]=KDE לש הקירסה תוריש
Name[hu]=KDE képbeolvasó szolgáltatás
Name[is]=KDE myndlesaraþjónusta
Name[it]=Servizio di scansione di KDE
Name[ja]=KDE スキャンサービス
Name[ko]=KDE 스캔 서비스
Name[lt]=KDE skanavimo tarnyba
Name[lv]=KDE Skanēšanas Serviss
Name[mt]=Servizz KDE tal-iskannjar
Name[nl]=KDE Scanapparaat
Name[no]=KDE skannetjenester
Name[no_NY]=KDE Skanningsteneste
Name[pl]=Usługa skanowania KDE
Name[pt_BR]=Serviço de Scanner do KDE
Name[pt]=Serviço de 'Scanner' do KDE
Name[ru]=Сканирование в KDE
Name[sk]=KDE skenovacia služba
Name[sl]=Servis pregledovanja KDE
Name[sr]=KDE servis za skeniranje
Name[sv]=KDE Avsökningsservice
Name[ta]=KDE ÅÕ¼ü §º¨Å
Name[tr]=KDE Tarama Servisi
Name[uk]=Служба пошуку KDE
Name[vi]=Dịch vụ quét KDE 
Name[xh]=Inkonzo yemita yovavanyo ye KDE
Name[zh_CN.GB2312]=KDE 扫描服务
X-KDE-Library=libkscan
InitialPreference=2
ServiceTypes=KScan/KScanDialog
