[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDE Scan Service
Name[af]=kde skandeer diens
Name[ar]=خدمة المسح الضوئي
Name[az]=KDE Darama Servisi
Name[bg]=Сканиране в KDE
Name[cs]=Skenovací služba pro KDE
Name[da]=KDE Scan-service
Name[de]=Scan-Service von KDE
Name[el]=Υπηρεσία Σάρωσης του KDE
Name[eo]=Bildcifereciga servo
Name[es]=Servicio de digitalización de KDE
Name[et]=KDE skaneerimise teenus
Name[eu]=Eskaneatzeko KDE Zerbitzua
Name[fi]=KDE skannauspalvelu
Name[fr]=Service de numérisation pour KDE
Name[he]=שירות הסריקה של KDE
Name[hu]=KDE képbeolvasó szolgáltatás
Name[is]=KDE myndlesaraþjónusta
Name[it]=Servizio di scansione di KDE
Name[ja]=KDE スキャンサービス
Name[ko]=KDE 스캔 서비스
Name[lt]=KDE skanavimo tarnyba
Name[lv]=KDE Skanēšanas Serviss
Name[mt]=Servizz KDE tal-iskannjar
Name[nb]=KDE skannetjenester
Name[nl]=KDE Scanapparaat
Name[nn]=KDE Skanningsteneste
Name[pl]=Usługa skanowania KDE
Name[pt]=Serviço de 'Scanner' do KDE
Name[pt_BR]=Serviço de Varredura do KDE
Name[ro]=Serviciu de scanare KDE
Name[ru]=Сканирование в KDE
Name[sk]=KDE skenovacia služba
Name[sl]=Servis pregledovanja KDE
Name[sr]=KDE servis za skeniranje
Name[sv]=KDE:s bildläsartjänst
Name[ta]=KDE ÅÕ¼ü §º¨Å
Name[th]=บริการสแกนภาพ - K
Name[tr]=KDE Tarama Servisi
Name[uk]=Служба пошуку KDE
Name[ven]=Tshishumiswa tshau naga tsha KDE
Name[vi]=Dịch vụ quét KDE 
Name[xh]=Inkonzo yemita yovavanyo ye KDE
Name[xx]=xx
Name[zh_CN]=KDE 扫描服务
Name[zh_TW]=KDE 掃描服務
Name[zu]=Inkonzo Yesi scan se KDE
X-KDE-Library=libkscan
InitialPreference=2
ServiceTypes=KScan/KScanDialog
