[Desktop Entry]
Type=Service
X-KDE-PluginInfo-License=GPL
Icon=document-export

Name=Online Service
Name[ca]=Servei en línia
Name[ca@valencia]=Servei en línia
Name[cs]=Online služby
Name[de]=Online-Dienst
Name[en_GB]=Online Service
Name[es]=Servicio en línea
Name[eu]=Lerroko zerbitzua
Name[fi]=Verkkopalvelu
Name[fr]=Service en ligne
Name[it]=Servizio in linea
Name[ko]=온라인 서비스
Name[nl]=Online service
Name[pa]=ਆਨਲਾਈਨ ਸਰਵਿਸ
Name[pl]=Usługa sieciowa
Name[pt]=Serviço 'Online'
Name[pt_BR]=Serviço online
Name[sl]=Spletna storitev
Name[sv]=Nättjänst
Name[tr]=Çevrimiçi Hizmet
Name[uk]=Інтернет-служба
Name[x-test]=xxOnline Servicexx
Comment=Export the scanned image to an online service
Comment[ca]=Exporta la imatge escanejada a un servei en línia
Comment[ca@valencia]=Exporta la imatge escanejada a un servei en línia
Comment[de]=Exportiert das eingescannte Bild zu einem Online-Dienst
Comment[en_GB]=Export the scanned image to an online service
Comment[es]=Exportar la imagen escaneada a un servicio en línea
Comment[eu]=Esportatu eskaneatutako irudia lerroko zerbitzu batera
Comment[fi]=Vie luettu kuva verkkopalveluun
Comment[fr]=Exporter l'image numérisée vers un service en ligne
Comment[it]=Esporta l'immagine scansionata in un servizio in linea
Comment[ko]=스캔한 그림을 온라인 서비스로 내보내기
Comment[nl]=De gescande afbeelding naar een online service exporteren
Comment[pl]=Wyeksportuj zeskanowany obraz do usługi sieciowej
Comment[pt]=Exportar a imagem digitalizada para um serviço 'online'
Comment[pt_BR]=Exportar a imagem escaneada para um serviço online
Comment[sl]=Izvozi optično prebrano sliko v spletno storitev
Comment[sv]=Exportera den inlästa bilden till en Internettjänst
Comment[tr]=Taranan görseli bir çevrimiçi hizmete dışa aktar
Comment[uk]=Експортувати скановане зображення до служби інтернет-зберігання
Comment[x-test]=xxExport the scanned image to an online servicexx
